/* FONTS */
#app .scroll-more {
	display: block;
	font-family: BentonSansCond-BoldItalic;
	margin-top: 10px;
}
#app .bold {
	font-family: BentonSansCond-Bold;
}

/* COLOURS */
.blue-01 {
	background-color: var(--blue01);
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}
.green-01 {
	background-color: var(--green01);
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}
.purple-01 {
	background-color: var(--brite_purple01);
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}
.grey-02 {
	background-color: var(--grey02);
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}


/* APP & CHART WRAPPER */
#app {
	margin: 0 auto;
	max-width: 550px;
}
.wrapper {
	/*display: flex;*/
	margin: 15px auto 0 auto;
}
.wrapper .chart:nth-of-type(1) {
	margin-right: 0.5rem;
}



/* STEP ENTRIES */
.scrollyteller .sticky {
	color: white;
	height: 500px;
	text-align: center;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.scrollyteller .step-list {
	pointer-events: none;
	position: relative;
}
.scrollyteller .step {
	margin: 100vh auto;
	max-width: 400px;
	text-align: center;
}
.scrollyteller .step:first-of-type {
	margin-top: -10%;
}
.scrollyteller .step:last-of-type {
	margin-bottom: 0;
	padding-bottom: 100vh;
}

.scrollyteller .step > p {
	background: rgba(255,255,255,0.85);
	padding: 5px;
}






@media only screen and (min-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    .wrapper {
    	/*display: flex;*/
    	/*justify-content: space-between;*/
    }
}
